@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profile{
  border-radius: 50%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@keyframes slideUp {
  0% {
      opacity: 0;
      transform: translateY(20px); /* Start below */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* End at original position */
  }
}

.slide-up {
  animation: slideUp 1s ease forwards; /* Duration and easing function */
}


@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px); /* Start off-screen to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease forwards; /* Adjust duration and easing as needed */
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50px); /* Start off-screen to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}

.slide-in-right {
  animation: slideInRight 1s ease forwards; /* Adjust duration and easing as needed */
}

@keyframes cardsUp {
  0% {
      opacity: 0;
      transform: translateY(50px); /* Start below */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* End at original position */
  }
}

.cards-up {
  animation: cardsUp 1s ease forwards; /* Duration and easing function */
}


.circle-transition {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10vw; /* Small starting circle */
  height: 10vw;
  background-color: transparent; /* Transparent circle */
  border-radius: 50%;
  box-shadow: 0 0 0 100vh rgb(202, 220, 234); /* Creates white area around transparent circle */
  transform: translate(-50%, -50%) scale(0);
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
}

.circle-transition.entering {
  animation: openAnimation 2.5s ease forwards;
}

@keyframes openAnimation {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0); /* Small transparent circle */
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(20); /* Expands to cover the screen */
  }
}


